{% extends 'base_es.html'%}

{% block title %} About {% endblock %}

{% block about_active %} class="active" {% endblock %}

{% block content %}
    <main id="main">
     <div class="hero-section inner-page">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row justify-content-center">
                <div class="col-md-7 text-center hero-text">
                  <h1 data-aos="fade-up" data-aos-delay="">Bienvenidos!</h1>
                  <p class="mb-5" data-aos="fade-up"  data-aos-delay="">F2F es un...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
<!--            <div class="row">-->
<!--              <div class="col-md-4">-->
<!--                <div class="step">-->
<!--                  <span class="number">01</span>-->
<!--                  <h3>Sign Up</h3>-->
<!--                  <p>Sign up and join our mailing list.</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-4">-->
<!--                <div class="step">-->
<!--                  <span class="number">02</span>-->
<!--                  <h3>Support</h3>-->
<!--                  <p>Support Family2Family gain the resources needed to advance.</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-4">-->
<!--                <div class="step">-->
<!--                  <span class="number">03</span>-->
<!--                  <h3>Recieve updates</h3>-->
<!--                  <p>Recieve weekly updates on Family2Family's progress.</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row align-items-center">-->
<!--              <div class="col-md-4 mr-auto">-->
<!--                <h2 class="mb-4">Family2Family's Goal</h2>-->
<!--                <p class="mb-4">Family2Family is a non-profit organization that would like to connect-->
<!--                   low-income families with donors in order to provide groceries and everyday necessities-->
<!--                   on an as-needed basis.</p>-->
<!--              </div>-->
<!--              <div class="col-md-6" data-aos="fade-left">-->
<!--                <img src="/static/img/food.png" alt="Image" class="img-fluid">-->
<!--              </div>-->
<!--            </div>-->

<!--      GATHER FEEDBACK-->
<!--            <div class="container">-->
<!--              <div class="row align-items-center">-->
<!--                <div class="col-md-4 ml-auto order-2">-->
<!--                  <h2 class="mb-4">Gather Feedback</h2>-->
<!--                  <h2 class="mb-4">Feedback</h2>-->
<!--                  <p class="mb-4">As an upcoming platform, we would greatly appreciate-->
<!--                    some feedback. Send us an email contact@families2families.org!</p>-->
<!--                  <p><a href="/contact">Sign Up</a></p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

{% endblock %}

