{% extends 'base.html' %}


{% block content %}

<!--Feeding One Fam @ A Time - 3 buttons -->

<!--            <div class="row justify-content-center text-center mb-5">-->
<!--              <div class="col-md-5" data-aos="fade-up">-->
<!--                <h2 class="section-heading">Feeding one family at a time.</h2>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--              <div class="col-md-4" data-aos="fade-up" data-aos-delay="">-->
<!--                <div class="feature-1 text-center">-->
<!--                  <div class="wrap-icon icon-1">-->
<!--                    <span class="icon la la-users"></span>-->
<!--                  </div>-->
<!--                  <h3 class="mb-3">Families</h3>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">-->
<!--                <div class="feature-1 text-center">-->
<!--                  <div class="wrap-icon icon-1">-->
<!--                    <span class="icon la la-toggle-off"></span>-->
<!--                  </div>-->
<!--                  <h3 class="mb-3">Enable</h3>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">-->
<!--                <div class="feature-1 text-center">-->
<!--                  <div class="wrap-icon icon-1">-->
<!--                    <span class="icon la la-umbrella"></span>-->
<!--                  </div>-->
<!--                  <h3 class="mb-3">Support</h3>-->
<!--                </div>-->
<!--              </div>-->



{% endblock %}