{% extends 'base_es.html'%}

{% block title %} Contact {% endblock %}

{% block contact_active %} class="active" {% endblock %}

{% block content %}
    <main id="main">
        <div class="hero-section inner-page">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <div class="col-md-7 text-center hero-text">
                                <h1 data-aos="fade-up" data-aos-delay="">Ponerse en contacto!</h1>
                                <p class="mb-5" data-aos="fade-up"  data-aos-delay="">A nuestra familia le gustaría escuchar sus inquietudes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

