{% extends 'base.html'%}

{% block title %} Timeline {% endblock %}

{% block timeline_active %} class="active" {% endblock %}

{% block content %}
    <main id="main">
      <div class="hero-section inner-page">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row justify-content-center">
                <div class="col-md-7 text-center hero-text">
                  <h1 data-aos="fade-up" data-aos-delay="">The Game Plan</h1>
                  <p class="mb-5" data-aos="fade-up"  data-aos-delay="">We've got big ambitions! Here's a glimpse into how we plan to make a change. </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    
      <div class="site-section pb-0 pt-2"> <!-- no padding bottom, little bit at top -->
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4 mr-auto">
             <h2 class="mb-4">Jan. 2020 - Just an Idea</h2>
              <p class="mb-4">The idea for Family2Family started in January 2020 in response to the 
                ever-present need for groceries and supplies for low-income families in the Greater Los 
                Angeles area. With the growing popularity of food delivery services, it is only natural to incorporate such technology in the efforts to ensure every family has access to the the bare essentials.
              </p>
            </div>
            <div class="col-md-6 order-first" data-aos="fade-left">
              <img src="/static/img/family.png" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div> <!-- .site-section -->

      <div class="site-section py-0">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4 mr-auto">
              <h2 class="mb-4">Mar. 2020 - Laying Down the Foundation</h2>
              <p class="mb-4">With the help of web development team Burgundy 5, the introductory website for Family2Family is set to launch March 2020. As a fundamental, elementary step to this endeavor, this website will serve as our first impression to the public. On here, we will not only detail our goals, but provide avenues through which potential donors and beneficiaries can voice their opinions, provide suggestions, and express their interest in our project. </p>
            </div>
            <div class="col-md-6 order-first" data-aos="fade-right">
              <img src="/static/img/donate.png" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div> <!-- .site-section -->

      <div class="site-section py-0">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4 mr-auto">
              <h2 class="my-0 py-0">July 2020 -</h2> <h2 class="mb-4">In-App Donations</h2>
              <p class="mb-4">The projected date for the completion of Phase II - the fully functioning website is July 2020. This website will include all the features necessary to allow families to request grocieries and donors to provide funding for their selected families. Additional features will be added if enough interest is expressed from the feedback received from the introductory website. </p>
            </div>
            <div class="col-md-6 order-first" data-aos="fade-left">
              <img src="/static/img/donors.png" alt="Image" class="img-fluid" width="400" height="350">
<!--              <img src="/static/img/users.png" alt="Image" class="img-fluid" width="400" height="350">-->
            </div>
          </div>
        </div>
      </div> <!-- .site-section -->

      <div class="site-section py-0"> <!-- no padding at the bottom of div -->
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4 mr-auto">
              <h2 class="mb-4">Nov. 2020 - Going Mobile</h2>
              <p class="mb-4">A Family2Family mobile app will be introduced to the public in November of 2020. It will be available on both iOS and Android platforms, and will include all of the functionality of the Family2Family website. In addition, new features, or adjustments will be made in response to the success of the website. </p>
            </div>
            <div class="col-md-6 order-first" data-aos="fade-right">
              <img src="/static/img/iPhone.png" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div> <!-- .site-section -->




    </main>
{% endblock %}
