{% extends 'base.html'%}

<!--  our mission -->
{% block title %} Vision {% endblock %}

{% block vision_active %} class="active" {% endblock %}

{% block content %}
    <main id="main">
      <div class="hero-section inner-page">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row justify-content-center">
                <div class="col-md-7 text-center hero-text">
                  <h1 data-aos="fade-up" data-aos-delay="">Our Vision</h1>
                  <p class="mb-5" data-aos="fade-up"  data-aos-delay="100">To resolve America's food insecurity, one family at a time.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="site-section">
        <!--  New Stories Carousel -->
        <div class="container">
          <!--  Collection of News Stories -->
          <div class="row mb-5">
            <!--  News Entries -->
            <div class="col-md-4">
              <div class="post-entry">
                <a href="#!" class="d-block mb-4">
                  <img src="/static/img/img_1.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Jan 5, 2020 &bullet; By <a href="#!">Admin</a></span>
                  <h3><a href="#!">Follow Us On Social Media!</a></h3>
                  <p>Family2Family is looking for awesome web developer contractors.</p>
                  <p><a href="#!" class="readmore">Read more</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="post-entry">
                <a href="#!" class="d-block mb-4">
                  <img src="/static/img/img_2.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">February 13, 2020 &bullet; By <a href="#!">Admin</a></span>
                  <h3><a href="#!">From Idea to Action</a></h3>
                  <p>Progress: Developers lift our new site.</p>
                  <p><a href="#!" class="readmore">Read more</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="post-entry">
                <a href="#!" class="d-block mb-4">
                  <img src="/static/img/img_3.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">March 1, 2020 &bullet; By <a href="#!">Admin</a></span>
                  <h3><a href="#!">First Donors' Kick-Off</a></h3>
                  <p>In preparation to our official launch, we want to host an exclusive feedback forum.</p>
                  <p><a href="#!" class="readmore">Read more</a></p>
                </div>
              </div>
            </div>
          </div>

          <!--  Collection of Carousel Indexes-->
          <div class="row">
            <div class="col-12 text-center">
              <a href="#!" class="p-3 active text-primary">1</a>
              <a href="#!" class="p-3">2</a>
              <a href="#!" class="p-3">3</a>
            </div>
          </div>

        </div>
      </div>

    </main>
{% endblock %}

